<%@user=User.find_by(id:params[:id])%>
<div class="user">
<div class="likesuser">

<%if @user.avator.attached?%>
    <%=image_tag @user.avator%>
    <%else%>
    <%=image_tag "/user_images/default.jpg"%>
    <%end%>
    
<h2><%=@user.name%></h2>
</div>
<%if @current_user.id==@user.id%>
<p><%=link_to("プロフィールを編集","/users/#{@user.id}/edit")%></p>
<%end%>
</div>
<div class="itiran">
<p class="itiranitiran"><%=link_to("投稿一覧","/users/#{@user.id}")%></p>
<p class="itiraniine"><%=link_to("いいねした投稿一覧","/users/#{@user.id}/likes")%></p>
</div>

<div class="userindex">
<%@likes=Like.where(user_id: params[:id])%>

<%if @likes.count >= 1%>
<%@likes.each do |like|%>
    <div class="usershow">
    <%@task=Task.find_by(id: like.post_id)%>
    <%if @task%>
    <%@user=User.find_by(id:@task.user_id)%>
    <div class="iinegazo">
    <img src="<%= "/user_images/#{@user.image_name}" %>">
    <h2><%=link_to(@user.name,"/users/#{@user.id}")%></h2>
    </div>
    <div class="iinecontent">
    <h3><%=link_to(@task.phrase,"/posts/#{@task.id}")%></h3>
    </div>
    <div class="iinestatus">
    <p>説明:<%=link_to(@task.content,"/posts/#{@task.id}")%></p>
    </div>
    </div>
    <%end%>
    <%end%>
    </div>

    <%else%>
    <p>いいねした投稿はまだありません!</p>
    <%end%>