<%@user=User.find_by(id:params[:id])%>
<div class="user">
<div class="likesuser">

<%if @user.avator.attached?%>
    <%=image_tag @user.avator%>
    <%else%>
    <%=image_tag "/user_images/default.jpg"%>
    <%end%>
    
<h2><%=@user.name%></h2>
</div>
<%if @current_user.id==@user.id%>
<p><%=link_to("プロフィールを編集","/users/#{@user.id}/edit")%></p>
<%end%>
</div>
<div class="itiran">
<p class="itiranitiran"><%=link_to("投稿","/users/#{@user.id}")%></p>
<p class="itiraniine"><%=link_to("いいねした投稿","/users/#{@user.id}/likes")%></p>
</div>











<%@likes=Like.where(user_id: params[:id])%>
<%if @likes.count >= 1%>
  <div class="container">
        <%@likes.each do |like|%>
          <%@task=Task.find_by(id: like.post_id)%>
          <%= link_to("/posts/#{@task.id}/comment",class: "link")do %>
           <div class="index">
             <%if @task%>

              <%@user=User.find_by(id:@task.user_id)%>
               <div class="index_left">
                 <div class="index_gazo">
                   <%if @user.avator.attached?%>
                   <object><%= link_to("/users/#{@user.id}")do %>
                   <%=image_tag @user.avator%>
                  <%end%></object>
                   <%else%>
                   <object><%= link_to("/users/#{@user.id}")do %>
                   <%=image_tag "/user_images/default.jpg"%>
                  <%end%></object>
                   <%end%>
                 </div>
                 <div class="index_likes_comments">
                   <object><div id="likes_buttons_<%= @task.id %>">
                     <%= render partial: 'posts/like', locals: { task: @task} %>
                   </div></object>
                   <div class="index_comments">
                     <object><%= link_to("/posts/#{@task.id}/comment",class: "link")do %>
                     <span class="fas fa-comment fa-xs"><%=Comment.where(comment_id: @task.id).count%></span>
                     <%end%></object>
                   </div>
                 </div>
               </div>
      
                <div class="index_right">
                  <div class="index_header">
                    <object><%=link_to(@user.name,"/users/#{@user.id}")%></object>
                    <p><%= @task.updated_at.to_s(:datetime_jp) %></p>
                  </div>
                  <div class="index_phrase">
                    <%=@task.phrase%>
                  </div>
                  <div class="index_setu">
                    <%=@task.content%>
                  </div>
                </div>
            <%end%>
           </div>
          <%end%>
        <%end%>
    </div>

<%else%>
 <p>いいねした投稿はまだありません!</p>
<%end%>