<div class="user_show">
     <div class="user_show_top">
        <%if @user.avator.attached?%>
          <object><%= link_to image_tag(@user.avator),@user.avator, :rel => "lightbox" %></object>
        <%else%>
          <object><a href="/user_images/default.jpg" data-lightbox="group"><%=image_tag "/user_images/default.jpg"%></a></object>
        <%end%>

        <p class="user_show_name"><%=@user.name%></p>

      </div>



        <%if @current_user.id==@user.id%>
        <p>
         <span class="user_show_profile_edit"><%=link_to("プロフィールを編集","/users/#{@user.id}/edit")%></span>
        </p>
        <%end%>


        <%if @current_user.id!=@user.id%>
          <%= link_to("/talks/#{@user.id}") do %>
          <i class="fas fa-envelope-square fa-2x"></i></span>
          <% end %>
        <%end%>



        <div class="user_show_list_button_at_post">
          <span class="user_show_list_post_button_at_post"><%=link_to("投稿","/users/#{@user.id}")%></span>
          <span class="user_show_list_like_button_at_post"><%=link_to("いいね","/users/#{@user.id}/likes")%></span>
        </div>


</div>



<%@posts=Post.where(user_id: @user.id)%>
<%if @posts.count >= 1%>
  <div class="container">
        <% @posts.each do |post| %>
          <%@user=User.find_by(id:post.user_id)%>
          <%= link_to("/posts/#{post.id}/comment",class: "link")do %>
           <div class="index">
             <%if @user%>

               <div class="index_left">
                 <div class="index_gazo">
                  <%if @user.avator.attached?%>
                   <object><%= link_to("/users/#{@user.id}")do %>
                   <%=image_tag @user.avator%>
                   <%end%></object>
                  <%else%>
                   <object><%= link_to("/users/#{@user.id}")do %>
                   <%=image_tag "/user_images/default.jpg"%>
                   <%end%></object>
                  <%end%>
                 </div>
                 <div class="index_likes_comments">
                   <object><div id="likes_buttons_<%= post.id %>">
                     <%= render partial: 'posts/like', locals: { post: post} %>
                   </div></object>
                   <div class="index_comments">
                     <object><%= link_to("/posts/#{post.id}/comment",class: "link")do %>
                     <span class="fas fa-comment fa-xs"><%=Comment.where(comment_id: post.id).count%></span>
                     <%end%></object>
                   </div>
                 </div>
               </div>
      
                <div class="index_right">
                  <div class="index_header">
                    <object><%=link_to(@user.name,"/users/#{@user.id}")%></object>
                    <p><%= post.updated_at.to_s(:datetime_jp) %></p>
                  </div>
                  <div class="index_title">
                    <%=post.title%>
                  </div>
                  <div class="index_setu">
                    <%=post.content%>
                  </div>


                  <%if post.tube?%>
                   <%@post_tube=post.tube%>
                   <%@post_tube=@post_tube.last(11)%>
                   <object><iframe src="https://www.youtube.com/embed/<%=@post_tube%>" type="video/mp4" controls></iframe></object>
                  <%end%>

                  <%if post.files.attached?%>
                   <% post.files.each do |file| %>
                     <object><%= link_to image_tag(file),file, :rel => "lightbox" %></object>
                   <%end%>
                  <%end%>

                  <%if post.movies.attached?%>
                   <% post.movies.each do |movie| %>
                    <video src="<%= rails_blob_path(movie) %>" type="video/mp4" controls></video>
                   <%end%>
                  <%end%>



                </div>
            <%end%>
           </div>
           <%end%>
        <%end%>
    </div>

<%else%>
 <p>投稿はまだありません!</p>
<%end%>
