
<% @post.errors.full_messages.each do |message| %>
    <div class="form-error">
      <%= message %>
    </div>
  <% end %>



<%= form_with model:@post,local:true do |form| %>
  <p>タイトル</p>
  <%= form.text_field :title %>
  <p>説明</p>
  <%= form.text_area :content %>
  <p>画像</p>
  <%= form.file_field :files,multiple: true %>
  <p>動画</p>
  <%= form.file_field :movies,multiple: true %>
  <p>URL(Youtube)</p>
  <%= form.text_field :tube %>

  <div class="form_button">
    <%= form.submit "投稿する"%>
  </div>
  <%end%>