<h1>тЪая╕ПтЪая╕ПтЪая╕ПуГЗуВ╢уВдуГ│х╖еф║Лф╕нтЪая╕ПтЪая╕ПтЪая╕ПтЪа</h1>
<h1>тЪая╕ПтЪая╕ПтЪая╕ПуГЗуВ╢уВдуГ│х╖еф║Лф╕нтЪая╕ПтЪая╕ПтЪая╕ПтЪа</h1>
<h1>тЪая╕ПтЪая╕ПтЪая╕ПуГЗуВ╢уВдуГ│х╖еф║Лф╕нтЪая╕ПтЪая╕ПтЪая╕ПтЪа</h1>


<% @post.errors.full_messages.each do |message| %>
    <div class="form-error">
      <%= message %>
    </div>
  <% end %>


<div class="post_toukou">
<%= form_with model:@post,local:true do |form| %>
  <p>уВ┐уВдуГИуГл</p>
  <%= form.text_field :title %>
  <p>шкмцШО</p>
  <%= form.text_area :content %>
  <p>чФ╗хГПЁЯЦ╝</p>
  <%= form.file_field :files,multiple: true %>
  <p>хЛХчФ╗ЁЯОе</p>
  <%= form.file_field :movies,multiple: true %>
  <p>URL(Youtube)</p>
  <%= form.text_field :tube %>
  <p>уВ┐уВ░</p>
  <%= form.text_field :tag %>

  <div class="form_button">
    <%= form.submit "цКХчи┐уБЩуВЛ"%>
  </div>
  <%end%>
  </div>



