<div class="ran">
    <h3>👑人気ランキング👑</h3>
    </div>
    <table>
    <tr>
    <th class="hyou">順位</th><th>投稿</th><th class="hyou">いいね数</th>
    </tr>



    
<%@ranks=Like.group(:post_id).order('count_post_id DESC').limit(5).count(:post_id)%>

   <%@ranks.each.with_index do |rank,i|%>


    <% @tasuku=Post.find_by(id: rank.first) %>
    <%if @tasuku%>
    <% @user=User.find_by(id: @tasuku.user_id)%>
     

      



    <tr>



      <%if @suuji%>


      
       <% if @suuji != rank.second %>
        <td><%= @j=i+1  %>位</td>
        <%else%>
        <td><%= @j %>位</td>
        <%end%>
        
        <td class="hyou_span"><span><%=link_to(@user.name,"/users/#{@user.id}")%></span>さん：<%=link_to(@tasuku.title,"/posts/#{rank.first}/comment")%></td>
        <td><%=rank.second%></td>




      <%else%>
        <td><%= @j=i + 1 %>位</td>
        <td class="hyou_span"><span><%=link_to(@user.name,"/users/#{@user.id}")%></span>さん：<%=link_to(@tasuku.title,"/posts/#{rank.first}/comment")%></td>
        <td><%=rank.second%></td>
      <%end%>
       




    </tr>


    <% @suuji=Like.where(post_id: rank.first).count %>
    


     <%end%>

     
      


   <%end%>
    </table>