<div class="container">
<%@user=User.find_by(id:@task.user_id)%>
<div class="index">
    <%if @user%>

      <div class="index_left">
       <div class="index_gazo">
       <%if @user.avator.attached?%>
       <object><%= link_to image_tag(@user.avator),@user.avator, :rel => "lightbox" %></object>
       <%else%>
       <object><a href="/user_images/default.jpg" data-lightbox="group"><%=image_tag "/user_images/default.jpg"%></a></object>
       <%end%>
       </div>
      </div>
      
      <div class="index_right">
       <div class="index_header">
        <%=link_to(@user.name,"/users/#{@user.id}")%>
        <p><%= @task.updated_at.to_s(:datetime_jp) %></p>
        </div>



        

      
    



    <%end%>

       <div class="index_phrase">
        <%=link_to(@task.phrase,"/posts/#{@task.id}/comment")%>
       </div>
       <div class="index_setu">
        <%=link_to(@task.content,"/posts/#{@task.id}/comment")%>
       </div>
      </div>
      

      <div class="comment_edit">
      <%if @current_user.id==@task.user_id%>
         <%=link_to("編集","/posts/#{@task.id}/edit")%>
         <%=link_to("削除","/posts/#{@task.id}/destroy",{method: "post"})%>
        <%end%>
        </div>
</div>











<div class="index_comment">
       <% @comments=Comment.where(comment_id: @task.id)%>
       <%if @comments%>
        <%@comments.each do |comment|%>
          <% @user=User.find_by(id: comment.user_id) %>
            <div class="index_comment_content">
              <%if @user.avator.attached?%>
               <%=image_tag @user.avator%>
              <%else%>
               <%=image_tag "/user_images/default.jpg"%>
              <%end%>
             <span><%=link_to(@user.name,"/users/#{@user.id}")%></span>
             
             
              <%if @current_user.id==comment.user_id%>
                <%=link_to(comment.content,"/comments/#{comment.id}/edit") %>
              <%else%>
                <%=comment.content%>
              <%end%>
            
        <%end%>
       <%end%>
</div>

<%=form_tag("/posts/#{@task.id}/come")do%>
<input type="text" name="content">
<input type="submit" value="コメントする">
<%end%>
    
</div>


