<div class="container">
<%@user=User.find_by(id:@post.user_id)%>
<div class="index">
    <%if @user%>

      <div class="index_left">
       <div class="index_gazo">
       <%if @user.avator.attached?%>
       <object><%= link_to image_tag(@user.avator),@user.avator, :rel => "lightbox" %></object>
       <%else%>
       <object><a href="/user_images/default.jpg" data-lightbox="group"><%=image_tag "/user_images/default.jpg"%></a></object>
       <%end%>
       </div>
      </div>
      
      <div class="index_right">
       <div class="index_header">
        <%=link_to(@user.name,"/users/#{@user.id}")%>
        <p><%= @post.updated_at.to_s(:datetime_jp) %></p>
        </div>



        

      
    



    <%end%>

       <div class="index_title">
        <%=link_to(@post.title,"/posts/#{@post.id}/comment")%>
       </div>
       <div class="index_setu">
        <%=link_to(@post.content,"/posts/#{@post.id}/comment")%>
       </div>


       <div class="index_right_file">
       

       <%if @post.files.attached?%>
       <%if @post.files.count==1 %>
       <% @post.files.each do |file| %>
          <object class="one"><%= link_to image_tag(file),file, :rel => "lightbox" %></object>
       <%end%>
       <%end%>
       <%if @post.files.count==2 %>
       <% @post.files.each do |file| %>
          <object class="two"><%= link_to image_tag(file),file, :rel => "lightbox" %></object>
       <%end%>
       <%end%>
       <%if @post.files.count==3 %>
       <% @post.files.each do |file| %>
          <object class="three"><%= link_to image_tag(file),file, :rel => "lightbox" %></object>
       <%end%>
       <%end%>
       <%if @post.files.count==4 %>
       <% @post.files.each do |file| %>
          <object class="four"><%= link_to image_tag(file),file, :rel => "lightbox" %></object>
       <%end%>
       <%end%>
       <%end%>


       <%if @post.movies.attached?%>
       <%if @post.movies.count==1 %>
       <% @post.movies.each do |movie| %>
          <object class="one"><video src="<%= rails_blob_path(movie) %>" type="video/mp4" controls></video></object>
       <%end%>
       <%end%>
       <%if @post.movies.count==2 %>
       <% @post.movies.each do |movie| %>
          <object class="two"><video src="<%= rails_blob_path(movie) %>" type="video/mp4" controls></video></object>
       <%end%>
       <%end%>
       <%if @post.movies.count==3 %>
       <% @post.movies.each do |movie| %>
          <object class="three"><video src="<%= rails_blob_path(movie) %>" type="video/mp4" controls></video></object>
       <%end%>
       <%end%>
       <%if @post.movies.count==4 %>
       <% @post.movies.each do |movie| %>
          <object class="four"><video src="<%= rails_blob_path(movie) %>" type="video/mp4" controls></video></object>
       <%end%>
       <%end%>
       <%end%>


       <%if @post.tube?%>
       <%@post_tube=@post.tube%>
       <%@post_tube=@post_tube.last(11)%>
       <object><iframe src="https://www.youtube.com/embed/<%=@post_tube%>" type="video/mp4" controls></iframe></object>
       <object class="index_right_file_url"><p><%=link_to("https://youtu.be/#{@post_tube}","https://youtu.be/#{@post_tube}")%></p></object>
       <%end%>







       </div>







      </div>




      




      

      <div class="comment_edit">
      <%if @current_user%>
        <%if @current_user.id==@post.user_id%>
         <%=link_to("編集","/posts/#{@post.id}/edit")%>
         <%=link_to("削除","/posts/#{@post.id}/destroy",{method: "post"})%>
        <%end%>
      <%end%>
        </div>
</div>











<div class="index_comment">
       <% @comments=Comment.where(comment_id: @post.id)%>
       <%if @comments%>
        <%@comments.each do |comment|%>
          <% @user=User.find_by(id: comment.user_id) %>

            <div class="index_comment_name_content">

              <%if @user.avator.attached?%>
               <%=image_tag @user.avator%>
              <%else%>
               <%=image_tag "/user_images/default.jpg"%>
              <%end%>

             <span class="index_comment_name"><%=link_to(@user.name,"/users/#{@user.id}")%></span>
             
             
              <%if @current_user.id==comment.user_id%>
                <%=link_to(comment.content,"/comments/#{comment.id}/edit") %>
              <%else%>
              <span class="index_comment_content"><%=comment.content%></span>
              <%end%>
              
            </div>
            
        <%end%>
       <%end%>
            

<div class="comment_button_text_area">
<%=form_tag("/posts/#{@post.id}/come")do%>
<input type="text" name="content" class="comment_text_area" value="コメントしよう">
<input type="submit" value="送信" class="comment_toukou_button">
</div>
<%end%>
    
</div>



