<% @post.errors.full_messages.each do |message| %>
    <div class="edit-error">
      <%= message %>
    </div>
  <% end %>
<p>編集してみよう!</p>


<%= form_with model:@post,local:true do |form| %>
  <p>フレーズ</p>
  <%= form.text_field :title %>
  <p>説明</p>
  <%= form.text_area :content %>
  <p>画像</p>
  <%= form.file_field :files,multiple: true %>
  <p>動画</p>
  <%= form.file_field :movies,multiple: true %>
  <p>URL(Youtube)</p>
  <%= form.text_field :tube %>
  <p>タグ</p>
  <%= form.text_field :tag %>
  <div class="form_button">
  <%= form.submit %>
  </div>
  <%end%>