<h1 class="minna">みんなの投稿一覧</h1>
<div class="container">
<% @tasks.each do |task| %>
    <div class="index">
    <%@user=User.find_by(id:task.user_id)%>

    <%if @user%>
    <div class="indexgazo"">

    <%if @user.avator.attached?%>
    <%=image_tag @user.avator%>
    <%else%>
    <%=image_tag "/user_images/default.jpg"%>
    <%end%>

    <h3><%=link_to(@user.name,"/users/#{@user.id}")%></h3>
    </div>
    <%end%>
    <div class="postsindex">
    <h2><%=link_to(task.phrase,"/posts/#{task.id}")%></h2>
    </div>
    <div class="postsstatus">
    <p>説明:<%=link_to(task.content,"/posts/#{task.id}")%></p>
    </div>

    <p>いいね数:<%=Like.where(post_id:task.id).count%></p>
    
    <% if Like.find_by(user_id: @current_user.id, post_id: task.id) %>
        <%= link_to("/likes/#{task.id}/destroy", {method: "post"}) do %>
          <span class="fa fa-heart like-btn-unlike">いいねを取り消す</span>
        <% end %>
      <% else %>
        <%= link_to("/likes/#{task.id}/create", {method: "post"}) do %>
          <span class="fa fa-heart like-btn">いいね!</span>
        <% end %>
      <% end %>


    <p>投稿日時：<%= task.created_at.to_s(:datetime_jp) %></p>
    <p>最終更新日時：<%= task.updated_at.to_s(:datetime_jp) %></p>
    
    <div class="come">
    <%= link_to("コメントする","/posts/#{task.id}/comment") %>
    </div>

    <% @comments=Comment.where(comment_id: task.id)%>
    <%if @comments%>

    <%@comments.each do |comment|%>
      <% @user=User.find_by(id: comment.user_id) %>
      <p><%=link_to(@user.name,"/users/#{@user.id}")%>のコメント：</p>
    <%if @current_user.id==comment.user_id%>
    <p>
    <%=link_to(comment.content,"/comments/#{comment.id}/edit") %>
    </p>
    <%else%>
    <%=comment.content%>
    <%end%>
    <%end%>

    <%end%>




    </div>
    <%end%>


    
    </div>

    <div class="ran">
    <h3>人気の投稿ランキング</h3>
    </div>
    <table>
    <tr>
    <th class="hyou">順位</th><th>フレーズ</th><th class="hyou">いいね数</th>
    </tr>


    <%@ranks=Like.group(:post_id).order('count_post_id DESC').limit(10).count(:post_id)%>

   <%@ranks.each.with_index do |rank,i|%>


    <% @tasuku=Task.find_by(id: rank.first) %>
     <%if @tasuku%>

      



    <tr>



      <%if @suuji%>


      
       <% if @suuji != rank.second %>
        <td><%= @j=i+1  %>位</td>
        <%else%>
        <td><%= @j %>位</td>
        <%end%>
        
        <td><%=@tasuku.phrase%></td>
        <td><%=rank.second%></td>




      <%else%>
        <td><%= i + 1 %>位</td>
        <td><%=@tasuku.phrase%></td>
        <td><%=rank.second%></td>
      <%end%>
       




    </tr>


    <% @suuji=Like.where(post_id: rank.first).count %>
    


     <%end%>

     
      


   <%end%>
    </table>