<div id="ranking_render">
  <%= render partial: 'ranking', locals: { task: @task} %>
</div>

<div class="container">
<% @tasks.each do |task| %>
   <%@user=User.find_by(id:task.user_id)%>
   <%= link_to("/posts/#{task.id}/comment",class: "link")do %>
  <div class="index">
    <%if @user%>

      <div class="index_left">
       <div class="index_gazo">
        <%if @user.avator.attached?%>
          <%=image_tag @user.avator%>
        <%else%>
          <%=image_tag "/user_images/default.jpg"%>
        <%end%>
       </div>
        <div class="index_likes_comments">
         <object><div id="likes_buttons_<%= task.id %>">
          <%= render partial: 'like', locals: { task: task} %>
         </div></object>
         <div class="index_comments">
          
           <span class="fas fa-comment fa-xs"><%=Comment.where(comment_id: task.id).count%></span>
          
         </div>
        </div>
      </div>
 
      
      <div class="index_right">
       <div class="index_header">
       <object><%=link_to(@user.name,"/users/#{@user.id}")%></object>
        <p><%= task.updated_at.to_s(:datetime_jp) %></p>
       </div>
      
    
    <%end%>

       <div class="index_phrase">
       <object><%=task.phrase%></object>
       </div>
       <div class="index_setu">
       <object><%=task.content%></object>
       </div>
      </div>

      
      <div class="comment_edit">
      <%if @current_user%>
      <%if @current_user.id==task.user_id%>
        <object><%=link_to("編集","/posts/#{task.id}/edit")%></object>
        <object><%=link_to("削除","/posts/#{task.id}/destroy",{method: "post"})%></object>
       <%end%>
       <%end%>
     </div>

      

  </div>





  <%end%>
  
<%end%>
</div>


    

