<div id="ranking_render">
  <%= render partial: 'ranking', locals: { post: @post} %>
</div>

<div class="container">
<% @posts.each do |post| %>
   <%@user=User.find_by(id:post.user_id)%>
   <%if @user%>
   <%= link_to("/posts/#{post.id}/comment",class: "link")do %>
  <div class="index">

      <div class="index_left">
       <div class="index_gazo">
        <%if @user.avator.attached?%>
        <object><%= link_to image_tag(@user.avator),@user.avator, :rel => "lightbox" %></object>
        <%else%>
        <object><a href="/user_images/default.jpg" data-lightbox="group"><%=image_tag "/user_images/default.jpg"%></a></object>
        <%end%>
       </div>
        <div class="index_likes_comments">
         <object><div id="likes_buttons_<%= post.id %>">
          <%= render partial: 'like', locals: { post: post} %>
         </div></object>
         <div class="index_comments">
          
           <span class="fas fa-comment fa-xs"><%=Comment.where(comment_id: post.id).count%></span>
          
         </div>
        </div>
      </div>
 
      
      <div class="index_right">
       <div class="index_header">
       <object><%=link_to(@user.name,"/users/#{@user.id}")%></object>
        <p><%= post.updated_at.to_s(:datetime_jp) %></p>
       </div>
      
    
    <%end%>

       <div class="index_title">
        <%=post.title%>
       </div>
       <div class="index_setu">
        <%=post.content%>
       </div>


       <%if post.tube?%>
       <%@post_tube=post.tube%>
       <%@post_tube=@post_tube.last(11)%>
       <object><iframe src="https://www.youtube.com/embed/<%=@post_tube%>" type="video/mp4" controls></iframe></object>
       <%end%>

       <%if post.files.attached?%>
       <% post.files.each do |file| %>
          <object><%= link_to image_tag(file),file, :rel => "lightbox" %></object>
       <%end%>
       <%end%>

       <%if post.movies.attached?%>
       <% post.movies.each do |movie| %>
       <video src="<%= rails_blob_path(movie) %>" type="video/mp4" controls></video>
       <%end%>
       <%end%>
      </div>

      
      <div class="comment_edit">
      <%if @current_user%>
      <%if @current_user.id==post.user_id%>
        <object><%=link_to("編集","/posts/#{post.id}/edit")%></object>
        <object><%=link_to("削除","/posts/#{post.id}/destroy",{method: "post"})%></object>
       <%end%>
       <%end%>
     </div>

      

  </div>
  <%end%>
<%end%>
</div>


    

