<h1>みんなの投稿一覧</h1>

<div class="container">
<% @tasks.each do |task| %>
   <%@user=User.find_by(id:task.user_id)%>
  <div class="index">
    <%if @user%>

      <div class="index_left">
       <div class="index_gazo">
        <%if @user.avator.attached?%>
         <%=image_tag @user.avator%>
        <%else%>
         <%=image_tag "/user_images/default.jpg"%>
        <%end%>
       </div>
        <div class="index_likes_comments">
         <div id="likes_buttons_<%= task.id %>">
          <%= render partial: 'like', locals: { task: task} %>
         </div>
         <div class="index_comments">
          <%= link_to("/posts/#{task.id}/comment",class: "fas")do %>
           <span class="fas fa-comment fa-xs"><%=Comment.where(comment_id: task.id).count%></span>
          <%end%>
         </div>
        </div>
      </div>
      
      <div class="index_right">
       <div class="index_header">
        <%=link_to(@user.name,"/users/#{@user.id}")%>
        <p><%= task.updated_at.to_s(:datetime_jp) %></p>
       </div>
      
    
    <%end%>

       <div class="index_phrase">
        <%=link_to(task.phrase,"/posts/#{task.id}")%>
       </div>
       <div class="index_setu">
        <%=link_to(task.content,"/posts/#{task.id}")%>
       </div>
      </div>

      

  </div>

<%end%>
</div>


    

<div id="ranking_render">
  <%= render partial: 'ranking', locals: { task: @task} %>
</div>