<div class="showcontent">
<h3>フレーズ:<%=@task.phrase%></h3>
</div>
<div class="showstatus">
<p>説明：<%=@task.content%></p>
</div>
<% if Like.find_by(user_id: @current_user.id, post_id: @task.id) %>
        <%= link_to("/likes/#{@task.id}/destroy", {method: "post"}) do %>
          <span class="fa fa-heart like-btn-unlike">いいねを取り消す</span>
        <% end %>
      <% else %>
        <%= link_to("/likes/#{@task.id}/create", {method: "post"}) do %>
          <span class="fa fa-heart like-btn">いいね!</span>
        <% end %>
      <% end %>

<%if @current_user.id==@task.user_id%>
<%=link_to("編集","/posts/#{@task.id}/edit")%>
<%=link_to("削除","/posts/#{@task.id}/destroy",{method: "post"})%>
<%end%>