<!DOCTYPE html>
<html>
  <head>
    <title>TasklistApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet">
  </head>

  <body>

  <div class="new">
   <%if @current_user%>
   <%=link_to("みんなの投稿一覧をみる","/posts/index")%>
   <%=link_to("投稿する","/posts/_form")%>
   <%=link_to("ログアウト","/logout",{method: :post})%>
   <%=link_to("このアプリについて","/home/about")%>
   <p><%=link_to(@current_user.name,"/users/#{@current_user.id}")%>さんがログイン中</p>
   <%else%>
   <%=link_to("TOP","/")%>
   <%=link_to("新規ユーザー登録はこちらから","/users/new")%>
   <%=link_to("ログインはこちらから","/users/login_form")%>
   <%=link_to("このアプリについて","/home/about")%>
   <%end%>
   </div>
   <%if flash[:notice]%>
   <%=flash[:notice]%>
   <%end%>
    <%= yield %>
  </body>
</html>
